
@{
    ViewBag.Title = "Utility Index";
}

<div class="row">
    <div class="col-6 m-auto" style="margin: 5px;">
        <div class="logowrapper py-3">

            <img class="logo" style="" src="~/Content/DB_Files/SponsorLogo/Digi2L_Logo_Final.png" alt="https://i.pinimg.com/originals/3f/95/48/3f9548beef7804b53a111ced870da0c6.pngs">
        </div>
    </div>
   
</div>
<h3 class="section-title">Utility Index</h3>
<div class="row">
    <div class="form-group">
        <a href="@Url.Action("CreateTicketWithBizLog","Home")" target="_blank" class="btn-link btn-lg">1. Create Ticket With BizLog Logistric</a>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <a href="@Url.Action("MahindraLogistics","Home")" target="_blank" class="btn-link btn-lg">2. Create Ticket With Mahindra Logistric</a>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <a href="@Url.Action("MarkOrderVoucherRedeem","Home")" target="_blank" class="btn-link btn-lg">3. Mark Order Voucher Redeem</a>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <a href="@Url.Action("MoveUTCbridgeToZoho","Home")" target="_blank" class="btn-link btn-lg">4. Move Excahnge Order From UTC bridge To Zoho</a>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <a href="@Url.Action("MoveUTCbridgeABBToZoho","Home")" target="_blank" class="btn-link btn-lg">5. Move ABB Order From UTC bridge To Zoho</a>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <a href="@Url.Action("Login","BulkExchnage")" target="_blank" class="btn-link btn-lg">6. Push Direct to Customer Order</a>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <a href="@Url.Action("ExchangePOD","Home")" target="_blank" class="btn-link btn-lg">7. Upload EVC POD </a>
    </div>
</div>

